// Styles

@font-face {
  font-family: 'Roboto';
  src: url('./assets/Roboto[ital\,wdth\,wght].woff2') format('WOFF2'); // alernative font, smaller size, but support only wght/wdth/ital
  font-weight: 50 1000;
  font-stretch: 25% 151%;
}

// Styles

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}
